html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 0.80em;
    background-color: #808080;
    font-style: normal;
    font-weight: normal;
}

#grid {
    height: 375px;
    /*width: 750px;*/
    margin: 15px;
    background-color: #000000;
    visibility: hidden;
}

/*
    #grid .dgrid-row-odd {
        background: #F2F5F9;
    }
*/
#grid .dgrid-focus{
    background: #00BFFF;
}

.grid1 .dgrid-cell {
    width: 80px;
    color: #ffffff;
}

.grid1 th.dgrid-cell{
    color: white;
    background-color: #2f4f4f;
}

#add-grid {
    visibility: hidden;
    display: none;
    height: 70px;
    /*width: 750px;*/
    margin: 15px;
    background-color: #000000;
}

.grid2 .dgrid-cell {
    width: 80px;
    color: #ffffff;
}

.grid2 th.dgrid-cell{
    color: yellow;
    background-color: #2f4f4f;
}

.field-id {
    width: 200px;
    font-size: .80em;
    font-weight: normal;
}

#btnSpan {
    padding-left: 10px;
    padding-right: 10px;
}

#load-btn {
    background-color: #FF0000;
    color: #ffffff;
    width: 80px;
}

#add-new-record-btn {
    color: #C0C0C0;
}

#remove-new-record-btn {
    color: #C0C0C0;
}

.loadBtnDiv {
    padding: 4px;
}

.entryDivNameCol {
    width: 125px;
    float: left;
    padding: 4px;
    vertical-align: middle;
}

.entryDivFieldCol {
    float: left;
    padding: 4px;
}

.entryEditableField{
    float: left;
    padding: 4px;
    color: #FF0000;
    font-weight: bold;
}

.claro .ui-state-active:hover {
    background-color: #9bc6f2;
}
.claro .ui-state-default:hover {
    background-color: #808080;
}

.claro .ui-state-active {
    background-color: #ffff00;
}

#grid-legend-parent {
    position: relative;
    background-color: black;
    color: #ffffff;
    visibility: hidden;
    padding-left: 15px;
    padding-top: 15px;
    top: 15px;
    left: 15px;
    border: 2px solid #e1e1e1;
    max-width: 25%;
    overflow: auto;
}

#entry-div {
    position: relative;
    padding: 15px;
    border: 2px solid #e1e1e1;
    top: 15px;
    left: 15px;
    width: 95%;
    background-color: black;
    color: white;
}

#paginator-div {
    position: relative;
    padding: 15px;
    top: 15px;
}

.saveIcon16 {
    background-image: url("images/16-Save.png");
    background-repeat: no-repeat;
    text-align: center;
    width: 16px;
    height: 16px;
}

.undoIcon16 {
    background-image: url("images/16-Bended-Arrow-Left.png");
    background-repeat: no-repeat;
    text-align: center;
    width: 16px;
    height: 16px;
}

.deleteIcon16 {
    background-image: url("images/16-Cross.png");
    background-repeat: no-repeat;
    text-align: center;
    width: 16px;
    height: 16px;
}